.code_block_section {
  width: 100%;
  display: flex;
  position: relative;
  .code_block_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1 1 10px;
    min-height: 450px;
    .code_block {
      user-select: text;
      color: var(--white);
    }
  }
  @media screen and (max-width: 850px) {
    flex-direction: column-reverse;
    .code_block_container {
      margin: 10px 0 0;
      margin-left: 0px !important;
    }
  }
}
