.demo_section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  background-color: var(--themeColor);
  padding: var(--headerHeight) var(--sectionPadding);
  .image_container {
    &.demo_section_image_container {
      background-color: var(--black);
      .background_image {
        object-position: center;
      }
    }
  }
  .demo_card_label {
    position: relative;
    z-index: 2;
    pointer-events: none;
    display: inline-block;
    font-family: medium;
    font-size: 24px;
    background: linear-gradient(90deg, #b388ff, #ff80bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
  .demo_content {
    z-index: 4;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .demo_card_container {
      margin-right: 40px;
      .demo_card_desc {
        color: white;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 20px;
      }
      .demo_input_section {
        margin-bottom: 10px;
      }
      .demo_background_input_container {
        margin-bottom: 10px;
      }
    }
    .demo_options_container {
      .demo_options {
        margin-bottom: 10px;
        min-height: 447px;
        overflow: auto;
        .color_label {
          display: flex;
          align-items: center;
          font-size: 14px;
          font-weight: 500;
          color: var(--white);
          input[type="color"] {
            width: 40px;
            height: 20px;
            border: none;
            padding: 0;
            background: none;
            border-radius: 20px !important;
            border: 1px solid var(--white);
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
            }
            &::-webkit-color-swatch-wrapper {
              border-radius: 20px !important;
              padding: 0;
            }
            &::-webkit-color-swatch {
              border-radius: 20px !important;
              border: none;
            }
            &::-moz-color-swatch {
              border-radius: 20px !important;
              border: none;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 850px) {
    .demo_content {
      flex-direction: column;
      .demo_card_container {
        max-width: 100%;
        margin: 0;
        .demo_card_desc {
          &.warning {
            display: none;
          }
        }
      }
      .demo_options_container {
        max-width: 100%;
      }
    }
    .image_container {
      &.demo_section_image_container {
        .background_image {
          max-height: 100%;
        }
      }
    }
  }
}
