:root {
  // --themeColor: #051c23;
  // --textColor: #ffffff;
  --themeColor: #ffffff;
  --textColor: #000000;
  --black: #000000;
  --white: #ffffff;
  --invalid: rgb(246, 95, 95);
  --linkColor: #2c6eac;
  --disabledColor: #979797;
  --gray: #666666;
  --borderColor: #ffc4f02b;
  --primaryAccent: #c168bc;
  --inputBorder: rgb(82, 27, 82);
}
